<launch>
    <arg name="rviz" default="true" />
    <arg name="obstacle_angle_thrsh" default="1.0471" />
    <arg name="obstacle_sector_angle" default="0.523598" />
    <arg name="obstacle_sector_radius" default="9.0" />
    
    <node
        pkg="lidar_obstacle_detection"
        name="lidar_obstacle_detection_node"
        type="lidar_obstacle_detection_node"
        output="screen">
    <param name="obstacle_angle_thrsh" type="double" value="$(arg obstacle_angle_thrsh)"/>
    <param name="obstacle_sector_angle" type="double" value="$(arg obstacle_sector_angle)"/>
    <param name="obstacle_sector_radius" type="double" value="$(arg obstacle_sector_radius)"/>
    </node>
    
    <group if="$(arg rviz)">
        <node 
            launch-prefix="nice" 
            pkg="rviz" 
            type="rviz" 
            name="rviz_obstacles" 
            args="-d $(find lidar_obstacle_detection)/rviz/obstacle_visualization.rviz" 
        />
    </group>

</launch>
